@model SearchViewModel
<!-- Page top Section end -->
<section class="page-top-section set-bg" data-setbg="../../img/page-top-bg/3.jpg">
    <div class="container">
        <h2>Search Results</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="#">Home</a>
            <span class="sb-item active"> Search</span>
        </nav>
    </div>
</section>
<!-- Page top Section end -->
<!-- Blog Section end -->
<div class="container">
    <main role="main" class="pb-3">
        <section class="blog-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        @if (Model.Articles.Count() == 0)
                        {
                            <div class="element">
                                <h3 class="el-title">Oops, sorry! <i class="flaticon-033-chat"></i></h3>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="milestone">
                                            <div class="milestone-icon">
                                                <i class="flaticon-015-worldwide-1"></i>
                                            </div>
                                            <div class="milestone-text">
                                                <h3>0</h3>
                                                <p>No results found</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <h3 class="el-title">Helpfull Sugestions</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="icon-box-item">
                                            <div class="ib-icon">
                                                <i class="flaticon-007-house"></i>
                                            </div>
                                            <div class="ib-text">
                                                <h5>Money in 1 Hour!</h5>
                                                <p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="icon-box-item">
                                            <div class="ib-icon">
                                                <i class="flaticon-010-contract"></i>
                                            </div>
                                            <div class="ib-text">
                                                <h5>Helpfull Staff</h5>
                                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per incep-tos himenaeos. Suspendisse potenti. Ut gravida mattis.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="icon-box-item">
                                            <div class="ib-icon">
                                                <i class="flaticon-021-email"></i>
                                            </div>
                                            <div class="ib-text">
                                                <h5>Credit History Considered</h5>
                                                <p>Conubia nostra, per inceptos himenae os. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model.Articles)
                            {
                                <div class="blog-post">
                                    <img src=@item.URLToImage alt="Image not found" style="width: 800px; height: auto;">
                                    <div class="blog-date">@item.PublishedAt?.ToString("dd MMMM yyyy")</div>
                                    <h2 class="blog-title">@item.Title</h2>
                                    <p>@item.Description</p>
                                    <a href=@item.URL class="readmore" target="_blank">Read More <img src="~/img/arrow.png" alt=""></a>
                                </div>
                            }
                            <div class="site-pagination">
                                @for (decimal i = 1; i <= Model.TotalNumPages; i++)
                                {
                                    @if (Model.CurrentPage == i)
                                    {
                                        <a asp-controller="Search" asp-action="SearchResult" asp-route-criteria="@Model.Criteria" asp-route-language="@Model.Language" asp-route-currPage="@i" class="active">@i.ToString("00").</a>
                                    }
                                    else if (i == Model.TotalNumPages)
                                    {
                                        <a asp-controller="Search" asp-action="SearchResult" asp-route-criteria="@Model.Criteria" asp-route-language="@Model.Language" asp-route-currPage="@i">@i.ToString("00")</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Search" asp-action="SearchResult" asp-route-criteria="@Model.Criteria" asp-route-language="@Model.Language" asp-route-currPage="@i">@i.ToString("00").</a>
                                    }
                                }
                            </div>
                            <br />
                            <div class="sb-widget">
                                <div class="tags">
                                    <a asp-controller="CreatePDF" asp-action="CreatePDF" asp-route-criteria="@Model.Criteria" asp-route-language="@Model.Language" asp-route-type="search">Download list</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 sidebar">
                        <div class="sb-widget">
                            <form asp-controller="Search" asp-action="SearchResult" class="search-form">
                                <select class="btn-info" name="language" style="height: 58px; background-color: orangered; border-top-color: orangered; border-bottom-color: orangered; border-left-color: orangered; border-right-color: orangered">
                                    @foreach (var item in Enum.GetNames(typeof(Languages)).Cast<String>())
                                    {
                                        if (item.ToLower() == Model.Language.ToLower())
                                        {
                                            <option value="@item" selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }

                                </select>
                                <input type="text" name="criteria" placeholder="Search" style="width: 290px">
                                <button><img src="~/img/search-icon.png" alt=""></button>
                            </form>
                        </div>
                        <div class="sb-widget">
                            <h2 class="sb-title">Countries</h2>
                            <div class="tags">
                                @foreach (var item in Enum.GetNames(typeof(Countries)).Cast<String>())
                                {

                                    <a asp-controller="Home" asp-action="Index" asp-route-country="@item">@item</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<!-- Blog Section end -->
