@model IEnumerable<ArticleViewModel>
<!-- Page top Section end -->
<section class="page-top-section set-bg" data-setbg="../../img/page-top-bg/4.jpg">
    <div class="container">
        <h2>Top News</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="#">Home</a>
        </nav>
    </div>
</section>
<!-- Page top Section end -->
<!-- Blog Section end -->
<div class="container">
    <main role="main" class="pb-3">
        <section class="blog-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        @foreach (var item in Model)
                        {
                            <div class="blog-post">
                                <img src=@item.URLToImage alt="Image not found" style="width: 800px; height: auto;">
                                <div class="blog-date">@item.PublishedAt?.ToString("dd MMMM yyyy")</div>
                                <h2 class="blog-title">@item.Title</h2>
                                <p>@item.Description</p>
                                <a href=@item.URL class="readmore" target="_blank">Read More <img src="~/img/arrow.png" alt=""></a>
                            </div>
                        }
                        <div class="site-pagination">
                            @for (int i = 1; i <= Model.First().TotalNumPages; i++)
                            {
                                @if (Model.First().CurrentPage == i)
                                {
                                    <a asp-controller="Home" asp-action="Index" asp-route-country="@Model.First().Country" asp-route-currPage="@i" class="active">@i.ToString("00").</a>
                                }
                                else if (i == Model.First().TotalNumPages)
                                {
                                    <a asp-controller="Home" asp-action="Index" asp-route-country="@Model.First().Country" asp-route-currPage="@i">@i.ToString("00")</a>
                                }
                                else
                                {
                                    <a asp-controller="Home" asp-action="Index" asp-route-country="@Model.First().Country" asp-route-currPage="@i">@i.ToString("00").</a>
                                }
                            }
                        </div>
                        <br />
                        <div class="sb-widget">
                            <div class="tags">
                                <a asp-controller="CreatePDF" asp-action="CreatePDF" asp-route-country="@Model.First().Country" asp-route-type="top">Download list</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sidebar">
                        <div class="sb-widget">
                            <form asp-controller="Search" asp-action="SearchResult" class="search-form">
                                <input type="text" name="criteria" placeholder="Search by keyword">
                                <button type="submit"><img src="img/search-icon.png" alt=""></button>
                            </form>
                        </div>
                        <div class="sb-widget">
                            <h2 class="sb-title">Countries</h2>
                            <div class="tags">
                                @foreach (var item in Enum.GetNames(typeof(Countries)).Cast<String>())
                                {
                                    <a asp-controller="Home" asp-action="Index" asp-route-country="@item">@item</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<!-- Blog Section end -->